/* Elements throughout */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}
/* … */

/* Header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* … */

/* Top logo */
h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
/* … */

/* Nav bar options */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav-options {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-left: 25px;
}
/* … */

/* Primary background image */
#hero-background-image {
    /* Left as background image in css vs moving to HTML since it is a decorative image that does not need an alt tag */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* … */

/* Main content section */
.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.image-float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.image-float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* … */

/* Aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.aside-icon {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* … */

/* Footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}
/* … */